# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#production files
public/tablerunner_insitu_cottoncanvas_style1401.png
public/tablerunner_insitu_cottoncanvas_style1401.psd
public/table-runner-test.blend
public/table-runner-test.blend1
